@page "{year:int}"
@using AppContest.Models
@model AppContest.Pages.Contests.ClosedModel

@{
    ViewData["Title"] = $"{Model.Data.Year}年に募集終了したコンテスト";
}

<div class="text-white banner p-4 p-sm-5">
    <h1>アプリコンテストまとめ</h1>
    <div class="d-flex">
        <div class="flex-grow-1">
            アプリコンテスト・ゲームコンテスト・ソフトウェアコンテスト・プログラミングコンテストなどをまとめています（アプリアイデアのみや組み込み系も含む）。ハッカソンや競技プログラミングは除いています。コンテストの情報もお待ちしています。
        </div>
        <div class="ms-3">
            <img class="character" src="/images/kei3.png" alt="プロ生ちゃん（暮井 慧）" />
            <div class="text-end mt-2"><a class="small text-white" href="https://twitter.com/pronama" rel="external">プロ生ちゃん（暮井 慧）</a></div>
        </div>
    </div>
</div>

<div class=container>
    <h2 class="fs-4 mt-3 mb-1"><i class="fa fa-trophy-alt theme-color" aria-hidden="true"></i> @ViewData["Title"] <span class="ms-2 fs-6">@(Model.Data.Contests.Count)件</span></h2>
    <p class="text-secondary small mb-4"><i class="far fa-info-circle"></i> 情報は登録時のものです。リンク先は異なるサイトになっている場合があります。ご注意ください。</p>
    @foreach (var item in Model.Data.Contests)
    {
        <div class="media pb-5 mb-5 border-bottom border-light">
            <a class="flex-shrink-0" href="@item.Url" rel="external noopener">
                <img class="border bg-light media-img" src="@item.Thumbnail()" alt="" onerror="this.src='/images/x.png'" />
            </a>
            <div class="flex-grow-1 media-desc">
                <h3 class="fs-5">
                    <a href="@item.Url" rel="external noopener">@item.Name</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<a class="fs-6" asp-page="/Contests/Edit" asp-route-id="@item.Id" title="編集"><i class="fas fa-edit"></i></a>*@
                        <a class="fs-6" asp-page="/Contests/Details" asp-route-id="@item.Id" title="詳細"><i class="far fa-info-circle"></i></a>
                    }
                </h3>
                <ul class="list-unstyled mb-0">
                    @if (item.Description != null)
                    {
                        <li class="mb-2">@item.Description</li>
                    }
                    @if (item.Host != null)
                    {
                        <li><i class="far fa-building fa-fw"></i> <span class="text-secondary">主催:</span> @item.Host</li>
                    }
                    @if (item.Requirements != null)
                    {
                        <li><i class="far fa-check-square fa-fw"></i> <span class="text-secondary">応募資格:</span> @item.Requirements</li>
                    }

                    <li><i class="far fa-calendar-alt fa-fw"></i> <span class="text-secondary">@((item.StartDate, item.EndDate).ToFriendlyDateTitle()):</span> <span class="">@((item.StartDate, item.EndDate).ToFriendlyDate())</span></li>

                    @if (item.Note != null)
                    {
                        <li><i class="far fa-sticky-note fa-fw"></i> <span class="text-secondary">@item.Note</span></li>
                    }
                </ul>
            </div>
        </div>
    }
</div>